body{
    margin: 0;
    padding: 0;
    display: grid;
    }
    body#homepage{
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-rows: 1fr 40px auto 100px;
        width: 100%;
        grid-template-areas: "header header header"
        " aside nav nav"
        "aside section section"
       "footer footer footer";
    }
    
    header{
        background-image:url(../my_first_site/image/06.jpg);
        height: 200px;
        margin: 0;
        padding: 0;
        grid-area: header;
    }
    header img{
        height: 200px;
       align-self: start;
       margin-left: 1%;
       border: 2px solid #6E8694;
       border-radius: 20px;
       box-shadow: 2px 8px 25px 12px rgba(248,248,255,0.42);
       
    }
    header h1{
            color: white;	  
            font-size: 5vw;	
            text-align: center;	   
            line-height: 200px;	    
            margin: 0;
            position: absolute;	  
            z-index: 2;  
            left:35%;
            top: 1%;
            opacity: 0.3;
            
    }
    #contact{
        color: darkblue;
        text-align: right;
        position: absolute;
        z-index: 2;
        list-style: none;
        top: 1px;
        right: 2%;
        margin-top: 0mm;
    }
    .tel{
         font-weight: 1vw;
        color: darkblue;
         text-align: right;
         position: absolute;
         z-index: 2;
         list-style: none;
         top: 1%;
         right: 2%;


    }
     nav{
        background-color:rgb(253, 251, 249);
        grid-area: nav;
       
    }
    nav ul{
        display: grid;
        grid-template-columns:repeat(5, 1fr) ;
        margin: 0;
        padding :0px;
        list-style: none;
        gap: 5px;
    }
    nav ul li a{
        background: #0caf99;
        border: 2px solid white ;
        border-radius: 15px;
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-align-last: auto;
        color: beige;
        text-decoration: none;
    }
    .active{
        background: rgb(55, 99, 38);
    }
    nav ul li a:hover{
        background: rgb(55, 99, 38);

    }
    .left_aside{
        grid-area: aside;
        background-image:url(../my_first_site/image/trxtura2.jpg);
       padding-bottom: 100px; 
    }
    .meniu {

        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        grid-area: aside;
    }  
    .aside_meniu_title{
        text-transform: uppercase;
        background: #0caf99;
        border: 2px solid white ;
        border-radius: 15px;
        display: block;
        height: 40px;
        text-align: center;
        line-height: 40px;
        text-align-last: auto;
        color: rgb(16, 12, 8);
        text-decoration: none;
        margin: 0;
        padding: 10px;
    }
    .aside_meniu_list{
        list-style: none;
        padding: 0px;
        padding-left: 10px;
        margin-top: 6px;
    }
    .aside_meniu_list a{
        text-decoration: none;
        outline: none;
        display: block;
        padding: 6px 0;
        letter-spacing: 1px;
        font-size: 20px;
        color: #030303;
         transition: .3s linear;
         text-align: center;
         background-color: #f5f5f5;
         margin-right: 10px;
        
    }
    .aside_meniu_list li:hover{
        border-bottom: 3px #355347FF solid;
        border-bottom-left-radius: 10px;
        border-left:#355347FF 3px solid;
        
    }
    .aside_meniu_list a:hover{
        color: darkgreen;
    }
    .calendar img{
        height:15vw;
        margin-left: 25%;
        opacity: 0.9;
    
    }
    .calendar img:hover{
        box-shadow: 5px 5px 15px 5px white;
    }
    section{
        grid-template-rows: 50px 2fl;
        grid-template-columns: 2 2fl;
        grid-template-areas: ;
        background-color: blanchedalmond;
        grid-area: section;
        padding: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }
    .news1{
        min-height: 100px;
        display: inline;
    }
    .news2{
        min-height:100px;
    
    }
    footer{
        height:1fl;
        background-color:white;
        grid-area: footer;
        text-align: center;
    }